// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as TransxactApi from "../../../index.js";

export declare namespace PayoutsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PayoutsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PayoutsClient.Options>;

    constructor(options: PayoutsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {TransxactApi.ListPayoutsRequest} request
     * @param {PayoutsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TransxactApi.UnauthorizedError}
     * @throws {@link errors.TransxactApiError}
     * @throws {@link errors.TransxactApiTimeoutError}
     *
     * @example
     *     await client.payouts.list({
     *         starting_after: "po_3f9c2b1a",
     *         limit: "10"
     *     })
     */
    public list(
        request: TransxactApi.ListPayoutsRequest = {},
        requestOptions?: PayoutsClient.RequestOptions,
    ): core.HttpResponsePromise<TransxactApi.ListPayoutsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: TransxactApi.ListPayoutsRequest = {},
        requestOptions?: PayoutsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TransxactApi.ListPayoutsResponse>> {
        const { starting_after: startingAfter, limit } = request;
        const _queryParams: Record<string, unknown> = {
            starting_after: startingAfter,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TransxactApiEnvironment.Production,
                "v1/payouts",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TransxactApi.ListPayoutsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new TransxactApi.UnauthorizedError(
                        _response.error.body as TransxactApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TransxactApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/payouts");
    }

    /**
     * @param {TransxactApi.RetrievePayoutsRequest} request
     * @param {PayoutsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TransxactApi.NotFoundError}
     * @throws {@link errors.TransxactApiError}
     * @throws {@link errors.TransxactApiTimeoutError}
     *
     * @example
     *     await client.payouts.retrieve({
     *         id: "po_3f9c2b1a"
     *     })
     */
    public retrieve(
        request: TransxactApi.RetrievePayoutsRequest,
        requestOptions?: PayoutsClient.RequestOptions,
    ): core.HttpResponsePromise<TransxactApi.Payout> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: TransxactApi.RetrievePayoutsRequest,
        requestOptions?: PayoutsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TransxactApi.Payout>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TransxactApiEnvironment.Production,
                `v1/payouts/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TransxactApi.Payout, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new TransxactApi.NotFoundError(
                        _response.error.body as TransxactApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TransxactApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/payouts/{id}");
    }
}
