// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as TransxactApi from "../../../index.js";

export declare namespace CheckoutSessionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CheckoutSessionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CheckoutSessionsClient.Options>;

    constructor(options: CheckoutSessionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {TransxactApi.CreateCheckoutSessionRequest} request
     * @param {CheckoutSessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TransxactApi.BadRequestError}
     * @throws {@link TransxactApi.UnauthorizedError}
     * @throws {@link TransxactApi.ConflictError}
     * @throws {@link errors.TransxactApiError}
     * @throws {@link errors.TransxactApiTimeoutError}
     *
     * @example
     *     await client.checkoutSessions.create({
     *         "idempotency-key": "a1b2c3d4-order-9912",
     *         amount: 5000,
     *         currency: "FJD"
     *     })
     */
    public create(
        request: TransxactApi.CreateCheckoutSessionRequest,
        requestOptions?: CheckoutSessionsClient.RequestOptions,
    ): core.HttpResponsePromise<TransxactApi.CheckoutSession> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: TransxactApi.CreateCheckoutSessionRequest,
        requestOptions?: CheckoutSessionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TransxactApi.CheckoutSession>> {
        const { "idempotency-key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "idempotency-key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TransxactApiEnvironment.Production,
                "v1/checkout-sessions",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TransxactApi.CheckoutSession, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new TransxactApi.BadRequestError(
                        _response.error.body as TransxactApi.Error_,
                        _response.rawResponse,
                    );
                case 401:
                    throw new TransxactApi.UnauthorizedError(
                        _response.error.body as TransxactApi.Error_,
                        _response.rawResponse,
                    );
                case 409:
                    throw new TransxactApi.ConflictError(
                        _response.error.body as TransxactApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TransxactApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/checkout-sessions");
    }

    /**
     * @param {TransxactApi.RetrieveCheckoutSessionsRequest} request
     * @param {CheckoutSessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TransxactApi.NotFoundError}
     * @throws {@link errors.TransxactApiError}
     * @throws {@link errors.TransxactApiTimeoutError}
     *
     * @example
     *     await client.checkoutSessions.retrieve({
     *         id: "cs_3f9c2b1a"
     *     })
     */
    public retrieve(
        request: TransxactApi.RetrieveCheckoutSessionsRequest,
        requestOptions?: CheckoutSessionsClient.RequestOptions,
    ): core.HttpResponsePromise<TransxactApi.CheckoutSession> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(request, requestOptions));
    }

    private async __retrieve(
        request: TransxactApi.RetrieveCheckoutSessionsRequest,
        requestOptions?: CheckoutSessionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TransxactApi.CheckoutSession>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TransxactApiEnvironment.Production,
                `v1/checkout-sessions/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TransxactApi.CheckoutSession, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new TransxactApi.NotFoundError(
                        _response.error.body as TransxactApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TransxactApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/checkout-sessions/{id}");
    }

    /**
     * @param {TransxactApi.CancelCheckoutSessionsRequest} request
     * @param {CheckoutSessionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TransxactApi.NotFoundError}
     * @throws {@link TransxactApi.ConflictError}
     * @throws {@link errors.TransxactApiError}
     * @throws {@link errors.TransxactApiTimeoutError}
     *
     * @example
     *     await client.checkoutSessions.cancel({
     *         id: "cs_3f9c2b1a"
     *     })
     */
    public cancel(
        request: TransxactApi.CancelCheckoutSessionsRequest,
        requestOptions?: CheckoutSessionsClient.RequestOptions,
    ): core.HttpResponsePromise<TransxactApi.CheckoutSession> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(request, requestOptions));
    }

    private async __cancel(
        request: TransxactApi.CancelCheckoutSessionsRequest,
        requestOptions?: CheckoutSessionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<TransxactApi.CheckoutSession>> {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.TransxactApiEnvironment.Production,
                `v1/checkout-sessions/${core.url.encodePathParam(id)}/cancel`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TransxactApi.CheckoutSession, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new TransxactApi.NotFoundError(
                        _response.error.body as TransxactApi.Error_,
                        _response.rawResponse,
                    );
                case 409:
                    throw new TransxactApi.ConflictError(
                        _response.error.body as TransxactApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TransxactApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/checkout-sessions/{id}/cancel",
        );
    }
}
