// This file was auto-generated by Fern from our API Definition.

import * as TransxactApi from "./api/index.js";
import type { BaseClientOptions, BaseRequestOptions } from "./BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "./BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "./core/headers.js";
import * as core from "./core/index.js";
import { mergeAdditionalBodyParameters } from "./core/requestBody.js";
import { handleNonStatusCodeError } from "./errors/handleNonStatusCodeError.js";
import * as errors from "./errors/index.js";

export declare namespace TransxactApiClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TransxactApiClient {
    protected readonly _options: NormalizedClientOptions<TransxactApiClient.Options>;

    constructor(options: TransxactApiClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * @param {TransxactApi.CreateCheckoutSessionRequest} request
     * @param {TransxactApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TransxactApi.UnauthorizedError}
     * @throws {@link TransxactApi.ConflictError}
     * @throws {@link errors.TransxactApiError}
     * @throws {@link errors.TransxactApiTimeoutError}
     *
     * @example
     *     await client.postV1CheckoutSessions({
     *         "idempotency-key": "a1b2c3d4-order-9912",
     *         amount: 5000,
     *         currency: "FJD"
     *     })
     */
    public postV1CheckoutSessions(
        request: TransxactApi.CreateCheckoutSessionRequest,
        requestOptions?: TransxactApiClient.RequestOptions,
    ): core.HttpResponsePromise<TransxactApi.CheckoutSession> {
        return core.HttpResponsePromise.fromPromise(this.__postV1CheckoutSessions(request, requestOptions));
    }

    private async __postV1CheckoutSessions(
        request: TransxactApi.CreateCheckoutSessionRequest,
        requestOptions?: TransxactApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<TransxactApi.CheckoutSession>> {
        const { "idempotency-key": idempotencyKey, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "idempotency-key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/checkout-sessions",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TransxactApi.CheckoutSession, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new TransxactApi.UnauthorizedError(
                        _response.error.body as TransxactApi.Error_,
                        _response.rawResponse,
                    );
                case 409:
                    throw new TransxactApi.ConflictError(
                        _response.error.body as TransxactApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TransxactApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/checkout-sessions");
    }

    /**
     * @param {TransxactApi.GetV1CheckoutSessionsIdRequest} request
     * @param {TransxactApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TransxactApi.NotFoundError}
     * @throws {@link errors.TransxactApiError}
     * @throws {@link errors.TransxactApiTimeoutError}
     *
     * @example
     *     await client.getV1CheckoutSessionsId({
     *         id: "cs_3f9c2b1a"
     *     })
     */
    public getV1CheckoutSessionsId(
        request: TransxactApi.GetV1CheckoutSessionsIdRequest,
        requestOptions?: TransxactApiClient.RequestOptions,
    ): core.HttpResponsePromise<TransxactApi.CheckoutSession> {
        return core.HttpResponsePromise.fromPromise(this.__getV1CheckoutSessionsId(request, requestOptions));
    }

    private async __getV1CheckoutSessionsId(
        request: TransxactApi.GetV1CheckoutSessionsIdRequest,
        requestOptions?: TransxactApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<TransxactApi.CheckoutSession>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/checkout-sessions/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TransxactApi.CheckoutSession, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new TransxactApi.NotFoundError(
                        _response.error.body as TransxactApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TransxactApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/checkout-sessions/{id}");
    }

    /**
     * @param {TransxactApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TransxactApi.UnauthorizedError}
     * @throws {@link errors.TransxactApiError}
     * @throws {@link errors.TransxactApiTimeoutError}
     *
     * @example
     *     await client.getV1MerchantsMe()
     */
    public getV1MerchantsMe(
        requestOptions?: TransxactApiClient.RequestOptions,
    ): core.HttpResponsePromise<TransxactApi.Merchant> {
        return core.HttpResponsePromise.fromPromise(this.__getV1MerchantsMe(requestOptions));
    }

    private async __getV1MerchantsMe(
        requestOptions?: TransxactApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<TransxactApi.Merchant>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/merchants/me",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TransxactApi.Merchant, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new TransxactApi.UnauthorizedError(
                        _response.error.body as TransxactApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TransxactApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/merchants/me");
    }

    /**
     * @param {TransxactApi.GetV1PayoutsRequest} request
     * @param {TransxactApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TransxactApi.UnauthorizedError}
     * @throws {@link errors.TransxactApiError}
     * @throws {@link errors.TransxactApiTimeoutError}
     *
     * @example
     *     await client.getV1Payouts({
     *         starting_after: "po_3f9c2b1a",
     *         limit: "10"
     *     })
     */
    public getV1Payouts(
        request: TransxactApi.GetV1PayoutsRequest = {},
        requestOptions?: TransxactApiClient.RequestOptions,
    ): core.HttpResponsePromise<TransxactApi.GetV1PayoutsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getV1Payouts(request, requestOptions));
    }

    private async __getV1Payouts(
        request: TransxactApi.GetV1PayoutsRequest = {},
        requestOptions?: TransxactApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<TransxactApi.GetV1PayoutsResponse>> {
        const { starting_after: startingAfter, limit } = request;
        const _queryParams: Record<string, unknown> = {
            starting_after: startingAfter,
            limit,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/payouts",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TransxactApi.GetV1PayoutsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new TransxactApi.UnauthorizedError(
                        _response.error.body as TransxactApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TransxactApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/payouts");
    }

    /**
     * @param {TransxactApi.GetV1PayoutsIdRequest} request
     * @param {TransxactApiClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link TransxactApi.NotFoundError}
     * @throws {@link errors.TransxactApiError}
     * @throws {@link errors.TransxactApiTimeoutError}
     *
     * @example
     *     await client.getV1PayoutsId({
     *         id: "po_3f9c2b1a"
     *     })
     */
    public getV1PayoutsId(
        request: TransxactApi.GetV1PayoutsIdRequest,
        requestOptions?: TransxactApiClient.RequestOptions,
    ): core.HttpResponsePromise<TransxactApi.Payout> {
        return core.HttpResponsePromise.fromPromise(this.__getV1PayoutsId(request, requestOptions));
    }

    private async __getV1PayoutsId(
        request: TransxactApi.GetV1PayoutsIdRequest,
        requestOptions?: TransxactApiClient.RequestOptions,
    ): Promise<core.WithRawResponse<TransxactApi.Payout>> {
        const { id } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/payouts/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as TransxactApi.Payout, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new TransxactApi.NotFoundError(
                        _response.error.body as TransxactApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.TransxactApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/payouts/{id}");
    }

    /**
     * Make a passthrough request using the SDK's configured auth, retry, logging, etc.
     * This is useful for making requests to endpoints not yet supported in the SDK.
     * The input can be a URL string, URL object, or Request object. Relative paths are resolved against the configured base URL.
     *
     * @param {Request | string | URL} input - The URL, path, or Request object.
     * @param {RequestInit} init - Standard fetch RequestInit options.
     * @param {core.PassthroughRequest.RequestOptions} requestOptions - Per-request overrides (timeout, retries, headers, abort signal).
     * @returns {Promise<Response>} A standard Response object.
     */
    public async fetch(
        input: Request | string | URL,
        init?: RequestInit,
        requestOptions?: core.PassthroughRequest.RequestOptions,
    ): Promise<Response> {
        return core.makePassthroughRequest(
            input,
            init,
            {
                baseUrl: this._options.baseUrl ?? this._options.environment,
                headers: this._options.headers,
                timeoutInSeconds: this._options.timeoutInSeconds,
                maxRetries: this._options.maxRetries,
                fetch: this._options.fetch,
                logging: this._options.logging,
            },
            requestOptions,
        );
    }
}
